# Node.js
node_modules/
npm-debug.log*
.env
.env.*.local
.eslintcache
.node_repl_history

# Logs
logs/
*.log

# Build artifacts
dist/
build/
public/ # If used as a build output directory

# Operating System and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/